.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: auto;
}

.landing-page-banner {
  display: block;
  background-color: rgb(64,78,237);
  height: 626px;
  width: 100%;
}

.landing-page-nav {
  z-index: 1;
  height: 80px;
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landing-home-link {
  z-index: 1;
}

.landing-page-nav img {
  filter: brightness(0) invert(1);
  height: 33px;
  z-index: 1;
}

.landing-page-nav img:hover {
  cursor: pointer;
}

.landing-login {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
  background-color: white;
  height: 17px;
  padding: 10px 17px 10px 17px;
  border-radius: 25px;
  text-align: center;
  line-height: 17px;
  font-size: 15px;
  z-index: 1;
}

.landing-login:hover {
  cursor: pointer;
  color: blue;
  box-shadow: 5px 5px 20px rgb(70, 74, 122);
}

.banner-message {
  color: white;
  margin: auto;
  width: 1080px;
  text-align: center;
  margin-top: 90px;
  z-index: 1;
}

.banner-imagine {
  font-family: 'Sigmar One', cursive;
  font-size: 58px;
}

.banner-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: auto;
  margin-top: 30px;
  width: 750px;
  line-height: 40px;
}

.banner-images {
  position: absolute;
  top: 0;
  left: 0;
  height: 626px;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.banner-clouds {
  position: absolute;
  left: 50%;
  margin-left: -1280px;
}

.banner-element-2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  height: auto;
  width: auto;
  margin-left: -1030px;
}

.banner-element-1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  margin-left: 370px;
}

.landing-panel-1, .landing-panel-3 {
  height: 626px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

/* .work-in-progress-1, .work-in-progress-3 {
  height: 626px;
  background-color: white;
} */

.work-in-progress-2 {
  height: 626px;
  background-color: rgb(246,246,246);
}

.landing-panel-message {
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
  text-align: center;
  padding: 100px;
  margin-top: 150px;
}