@font-face {
    font-family: filetto-bold;
    src: url(/fonts/filetto/Filetto_bold.ttf);
}

@font-face {
    font-family: filetto-extralight;
    src: url(/fonts/filetto/Filetto_extralight.ttf);
}

@font-face {
    font-family: filetto-regular;
    src: url(/fonts/filetto/Filetto_regular.ttf);
}

@font-face {
    font-family: sf-arborcrest-heavy-oblique;
    src: url(/fonts/SF_Arborcrest/SF\ Arborcrest\ Heavy\ Oblique.ttf);
}

@font-face {
    font-family: sf-arborcrest-heavy;
    src: url(/fonts/SF_Arborcrest/SF\ Arborcrest\ Heavy.ttf);
}

@font-face {
    font-family: sf-arborcrest-light-oblique;
    src: url(/fonts/SF_Arborcrest/SF\ Arborcrest\ Light\ Oblique.ttf);
}

@font-face {
    font-family: sf-arborcrest-light;
    src: url(/fonts/SF_Arborcrest/SF\ Arborcrest\ Light.ttf);
}

@font-face {
    font-family: sf-arborcrest-medium-oblique;
    src: url(/fonts/SF_Arborcrest/SF\ Arborcrest\ Medium\ Oblique.ttf);
}

@font-face {
    font-family: sf-arborcrest-medium;
    src: url(/fonts/SF_Arborcrest/SF\ Arborcrest\ Medium.ttf);
}